<a href="http://localhost:8080/realTimeProducts"><button class="btn">Agregar Productos</button></a>
<h2>Lista de todos los productos agregados hasta el momento:</h3>
<div id="list"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>