<a href="http://localhost:8080/products"><button class="btn">Ver Listado de Productos</button></a>
<a href="http://localhost:8080/realTimeProducts"><button class="btn">Agregar Productos</button></a>
<a href="http://localhost:8080/chat"><button class="btn">Chat CoderHouse</button></a>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>