<div class="indexHeader">
    <div class="divTitle">
        <h1>$neaker</h1>
    </div>
    <div class="divLog">
        <button id="logoutBtn" class="btnLog">Desconectarse</button>
    </div>
</div>


<nav class="aContainer">
    <a href="http://localhost:8080/products"><button class="btn" id="prdts">Ver Listado de Productos</button></a>
    <a href="http://localhost:8080/chat"><button class="btn">Chat CoderHouse</button></a>
</nav>

<div id="divUsers">
    <p>Bienvenido: {{userName}}</p>
    <p>Rol: {{userRol}}</p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>