<h1 class="titleLogin">Login</h1>

<div class="divLoginReg">
    <form class="formLR" id="formLogin" action="/api/users/login" method="POST">
        Email: <input type="email" name="email" id="email" required>
        Contraseña: <input type="password" name="password" id="password" required>
        <input id="loginSubmit" class="loginBtn" type="submit" value="Logearse">
    </form>
</div>

<div class="divLogin2">
    <button class="btnRecover" id="btnMailing">¿Olvidaste tu contraseña?</button>
    <button onclick="location.href='/register'" class="registerBtn">Registrarse</button>
</div>

<div class="registerGithub">
    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="imgGithub">
    <button onclick="location.href='/api/users/registerGithub'" class="registerBtn2">Logearse con GitHub</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="login.js"></script>