<h2>Email o Contraseña Incorrecto/s</h2>
<button onclick="location.href='/'">Logearse</button>
<button class="btnRecover" id="btnMailing">¿Olvidaste tu contraseña?</button>

<script src="login.js"></script>