<div id="divContainer">
    <button class="btn3" id="btnProfile">Home</button>
    <button class="btn3" id="btnMailing">Mailing</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="profile.js"></script>