<div class="divContainer">
    <button class="btn3" onclick="location.href='/'">Home</button>
    <div id="divUsers">
{{!--         <p>Bienvenido: <span>{{session.userName}}</span></p>
        <p>Email: <span>{{session.userEmail}}</span></p>
        <p>Rol: <span>{{session.userRol}}</span></p>
        <p>Carrito: <span>{{session.userCart}}</span></p> --}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="profile.js"></script>