<a href="http://localhost:8080"><button class="btn btn2">Home</button></a>
<h2>Formulario:</h2>
<form id="form" action="/api/products" method="POST">
    <input type="text" id="title" placeholder="Título" required><br>
    <input type="text" id="description" placeholder="Descripción" required><br>
    <input type="text" id="code" placeholder="Código" required><br>
    <input type="text" id="price" placeholder="Precio" required><br>
    <input type="text" id="status" placeholder="Status" required><br>
    <input type="text" id="stock" placeholder="Stock" required><br>
    <input type="text" id="category" placeholder="Categoria" required><br>
    <input type="text" id="thumbnail" placeholder="Carátula" required><br>
    <input type="submit" value="Enviar"><br>
</form>

<h3>Lista de productos con Websocket:</h3>
<div id="list2"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="realTimePrdts.js"></script>