<h2>Formulario:</h2>
<form id="form">
    <input type="text" id="title" placeholder="Título"><br>
    <input type="text" id="description" placeholder="Descripción"><br>
    <input type="text" id="code" placeholder="Código"><br>
    <input type="text" id="price" placeholder="Precio"><br>
    <input type="text" id="status" placeholder="Status"><br>
    <input type="text" id="stock" placeholder="Stock"><br>
    <input type="text" id="category" placeholder="Categoria"><br>
    <input type="text" id="thumbnail" placeholder="Carátula"><br>
    <input type="submit" value="Enviar"><br>
</form>

<h3>Lista de productos con Websocket:</h3>
<div id="divList2">
    <ul>
        <li id="list2"></li>
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/index.js"></script>