<h1 class="recoveryTitle">Reestablecer Contraseña</h1>

<div class="recoveryDiv">
    <form id="recoveryForm" action="/api/users/recoveryForm" method="POST">
        Email: <input type="email" name="email" required id="emailR" >
        Contraseña: <input type="password" name="password" required id="passwordR">
        Repetir Contraseña: <input type="password" name="password" required id="passwordR2">
        <input id="btnSubmit" type="submit" value="Enviar">
    </form>
</div>