<h1 class="registerTitle">Register</h1>

<div class="divLoginReg">
    <form class="formLR" id="registerForm" action="/api/users/register" method="POST">
        Nombre: <input type="text" name="first_name" id="first_name" required>
        Apellido: <input type="text" name="last_name" id="last_name" required>
        Edad: <input type="number" name="age" id="age" required>
        Email: <input type="email" name="email" id="email" required>
        Contraseña: <input type="password" name="password" id="password" required>
        <input class="registerBtn2" type="submit" value="Registrarse">
    </form>
</div>