body {
    background-image: url("https://wallpaperset.com/w/full/4/9/c/186657.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.aContainer {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2rem;
    text-shadow: -6px 3px 2px rgba(0,0,0,0.24);
    color: white;
    margin: 0 0 3rem 0;
}

h2, h3 {
    text-decoration: underline;
}

h4 {
    font-size: 1.3rem;
    color: green;
    text-decoration: underline;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

#message {
    width: 30rem;
    height: 20rem;
    text-align: start;
    margin-bottom: 1rem;
    resize: none;
    font-size: 1rem;
}

#mail {
    width: 18rem;
    font-size: .9rem;
    margin-bottom: 1rem;
}

#submitChat {
    border-radius: 1rem;
    height: 2rem;
    width: 6rem;
    font-size: 1rem;
    text-align: center;
    margin-top: 0;
}

.btn {
    width: 20rem;
    height: 3rem;
    text-decoration: none;
    background-color: black;
    border-radius: 4rem;
    color: whitesmoke;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.btn2 {
    font-size: 1.5rem;
}

input {
    margin: .5rem 0;
}

li {
    list-style: square inside;
}

ul {
    margin: 0 0 2rem 0;
}

#list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.ulContainer {
    width: fit-content;
    justify-self: center;
    margin: 1.5rem 0 1.5rem 0;
    padding: 0;
}

.liContainer {
    list-style: none;
    border: .1rem solid whitesmoke;
    padding: .2rem .5rem;
    width: 20rem;
    background-color: #EDEDED;
}

.title {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.825);
    border-radius: 1rem 1rem 0 0;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.imgContainer {
    height: 16rem;
    width: 21rem;
    padding: 0;
}

.img {
    width: 21rem;
    height: 16rem;
}

.description {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: .5rem;
    font-size: 1.2rem;
}

.price {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: .5rem;
    font-size: 1.2rem;
}

.category {
    text-align: center;
    padding: .5rem;
    color: whitesmoke;
    background-color: black;
}

.stock {
    background-color: black;
    color: whitesmoke;
    padding: .5rem;
    text-align: center;
}

.buttonContainer {
    background-color: #e1b833;
    border-radius: 0 0 1rem 1rem;
    padding: .3rem .5rem;
    width: 21.1rem;
    border: .1rem solid whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.buttonContainer:hover {
    color: rgba(0, 0, 0, 0.821);
    background-color: #c0a13d;
}

.buttonContainer:active {
    border: .1rem solid gray;
}
