html {
    height: 100%;
}

body {
    background-image: url("https://wallpaperset.com/w/full/4/9/c/186657.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2, h3 {
    text-decoration: underline;
}

input {
    margin: .5rem 0;
}

.titleLogin {
    text-align: center;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2rem;
    text-shadow: -6px 3px 2px rgba(0,0,0,0.24);
    color: white;
    margin: 0 0 2rem 0;
    padding-left: 2rem;
}

.formLR {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    border: .1rem solid black;
    width: fit-content;
    border-radius: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    color: whitesmoke;
    background-color: black;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#email, #password, #age, #first_name, #last_name {
    margin-bottom: 2rem;
    border-radius: 1rem;
    width: 20rem;
    font-size: 1rem;
    padding: .3rem .5rem .3rem .5rem;
    outline: none;
}

.divLoginReg {
    display: flex;
    justify-content: center;
    align-content: center;
}

.divLogin2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h6 {
    font-size: 1.3rem;
    color: black;
    margin: 1rem;
    background-color: white;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 2rem;
}

.registerBtn {
    border-radius: 2rem;
    width: fit-content;
    font-size: 1rem;
    padding: .5rem;
    color: white;
    background-color: black;
}

.loginBtn {
    align-self: center;
    width: fit-content;
    font-size: 1rem;
    padding: .3rem;
    color: black;
    border-radius: 2rem;
    margin-top: 0;
    background-color: white;
    letter-spacing: .2rem;
}

.registerGithub {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 3rem 0;
}

.imgGithub {
    width: 7rem;
    height: 7rem;
    background-color: whitesmoke;
    border-radius: 4rem;
    border: .2rem solid black;
    margin: 0 0 1rem 0;
}

.registerBtn2 {
    align-self: center;
    width: fit-content;
    font-size: 1rem;
    padding: .3rem;
    color: black;
    border-radius: 2rem;
    margin-top: 0;
    background-color: white;
    letter-spacing: .2rem;
}