body {
    background-image: url("https://wallpaperset.com/w/full/4/9/c/186657.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2, h3 {
    text-decoration: underline;
}

input {
    margin: .5rem 0;
}

.btn {
    width: 20rem;
    height: 3rem;
    text-decoration: none;
    background-color: black;
    border-radius: 4rem;
    color: whitesmoke;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.btn2 {
    font-size: 1.5rem;
}

#list2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.ulContainer {
    width: fit-content;
    justify-self: center;
    margin: 1.5rem 0 1.5rem 0;
    padding: 0;
}

.liContainer {
    list-style: none;
    border: .1rem solid whitesmoke;
    padding: .2rem .5rem;
    width: 20rem;
    background-color: #EDEDED;
}

.title {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.825);
    border-radius: 1rem 1rem 0 0;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.imgContainer {
    height: 16rem;
    width: 21rem;
    padding: 0;
}

.img {
    width: 21rem;
    height: 16rem;
}

.description {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: .5rem;
    font-size: 1.2rem;
}

.price {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: .5rem;
    font-size: 1.2rem;
}

.category, .stock {
    text-align: center;
    padding: .5rem;
    color: whitesmoke;
    background-color: black;
}

.status {
    text-align: center;
    padding: .5rem;
    color: forestgreen;
    background-color: black;
    font-weight: 700;
}

.code {
    text-align: center;
    padding: .5rem;
    color: gold;
    font-weight: 700;
    background-color: black; 
}

.containerBtnUD {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnUpgd {
    background-color: dodgerblue;
    border-radius: 0 0 0 1rem;
    font-size: 1rem;
    padding: .2rem 0.3rem;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btnDel {
    background-color: crimson;
    border-radius: 0 0 1rem 0;
    padding: .2rem .5rem;
    width: 50%;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}