html {
    height: 100%;
}

body {
    background-image: url("https://wallpaperset.com/w/full/4/9/c/186657.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.recoveryTitle{
    text-align: center;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1rem;
    text-shadow: -6px 3px 2px rgba(0,0,0,0.24);
    color: white;
    margin: 0 0 2rem 0;
}

.recoveryDiv{
    display: flex;
    justify-content: center;
    align-content: center;
}

#recoveryForm{
    display: flex;
    flex-flow: column wrap;
    border: .1rem solid black;
    width: fit-content;
    border-radius: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    color: whitesmoke;
    background-color: black;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    margin: .5rem 0;
}

#emailR, #passwordR, #passwordR2 {
    margin-bottom: 2rem;
    border-radius: 1rem;
    width: 20rem;
    font-size: 1rem;
    padding: .3rem .5rem .3rem .5rem;
    outline: none;
}

#btnSubmit{
    font-size: 1rem;
    align-self: center;
    color: black;
    margin: 0 .5rem .5rem .5rem;
    background-color: white;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 2rem;
    width: 7rem;
}