html {
    height: 100%;
}

body {
    background-image: url("https://wallpaperset.com/w/full/4/9/c/186657.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2rem;
    text-shadow: -6px 3px 2px rgba(0,0,0,0.24);
    color: white;
    margin: 0 0 3rem 0;
    padding-left: 10rem;
}